In [1]:
import pandas as pd
import numpy as np
import re
from thefuzz import fuzz

In [2]:
base_names = pd.read_csv('base_names.csv')
base_names.head()

   Base_Name_ID         Base_Name
0             1        John Smith
1             2    Jennifer Brown
2             3  Michael O'Connor
3             4      Maria Garcia
4             5        Robert Lee

In [3]:
name_var = pd.read_csv('name_variations.csv')
name_var.head()

      Variation Matches_With_Base_Name
0  Thomas  King            Thomas King
1    ThomasKing            Thomas King
2  Maria Garcia           Maria Garcia
3     MaryLewis             Mary Lewis
4      Nancy W.           Nancy Wright

In [4]:

def find_best_match(variation, base_names):
    best_match = None
    highest_score = 0
    for base_name in base_names:
        score = fuzz.ratio(variation, base_name)
        if score > highest_score:
            highest_score = score
            best_match = base_name
    return best_match, highest_score

In [5]:

name_var['Best_Match'] = name_var['Variation'].apply(lambda x: find_best_match(x, base_names['Base_Name'])[0])
name_var['Match_Score'] = name_var['Variation'].apply(lambda x: find_best_match(x, base_names['Base_Name'])[1])

In [6]:

name_var.head()

      Variation Matches_With_Base_Name    Best_Match  Match_Score
0  Thomas  King            Thomas King   Thomas King           96
1    ThomasKing            Thomas King   Thomas King           95
2  Maria Garcia           Maria Garcia  Maria Garcia          100
3     MaryLewis             Mary Lewis    Mary Lewis           95
4      Nancy W.           Nancy Wright  Nancy Wright           70

In [7]:
correct_matches = name_var[name_var['Variation'].str.replace(" ", "").str.lower() == name_var['Best_Match'].str.replace(" ", "").str.lower()]
accuracy = len(correct_matches) / len(name_var) * 100
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 56.00%